.container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  @media (max-width: 800px) {
    margin-top: 4%;
  }
  .details {
    background-color: white;
    width: 95%;
    margin: 1%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid (0 0 0 / 20%);
    display: flex;
    max-width: 1400px;
    @media (max-width: 800px) {
      flex-direction: column;
    }

    .left {
      width: 40%;
      padding: 10px;
      display: flex;
      @media (max-width: 800px) {
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    .right {
      width: 60%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 1.1rem;

      @media (max-width: 800px) {
        width: 100%;
      }

      .skills {
        display: flex;
        width: 100%;
        background-color: #ede9e4;
        border-radius: 6px;
        @media (max-width: 800px) {
          flex-direction: column;
        }

        ul {
          width: 100%;
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;

          @media (max-width: 800px) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
          }
        }
      }
    }
  }
}
