.footer {
  position: absolute;
  bottom: 0;
  background: #082c40;
  color: white;
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100vw;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .icons {
      font-size: 2.5rem;

      .icons > svg {
        margin-left: 100px;
      }
    }

    p {
    }
  }
}
