.footer {
  position: absolute;
  bottom: 0;
  background: #082c40;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 100%;
  padding: 10px;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .icons {
      width: 100%;
      display: flex;
      justify-content: center;
      .icons > * {
        width: 20px;
        height: 20px;
        color: white;
      }
    }

    span {
      margin: 2% 0;
    }
  }
}
