.footer {
  position: absolute;
  bottom: 0;
  margin-top: 60px;
  background: #082c40;
  color: white;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100vw;
}
