.nav {
  padding: 10px 50px;
  background: #082c40;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  @media (max-width: 600px) {
    padding: 10px 20px;
  }
  .left {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h3 {
      font-size: 2rem;
      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }
  }
  .right {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    a {
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
      margin-right: 3%;
      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    }
  }
}
